@import 'variables';
@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
    list-style-type: none;
}

body{
    background-color: #141414;
}